#botones {
    margin-top: 2em;
    margin-bottom: 2em;
}
.jumbotron {
    margin: 2em;
    border-radius: 2em;
}
.img-thumbnail {
    margin: 2em;
}
h2 {
    margin-top: 2em;
}
.progress {
    margin: 2em;
}
#nav {
    margin: 2em;
}